<div class="wrapper" style= "display: flex; margin-top: 8px">
  <%= cl_image_tag @cocktail.photo.attached? ? @cocktail.photo.key : "https://source.unsplash.com/featured/?{cocktail}", alt: "#{@cocktail.name}", class: 'avatar-large' %>
  <span style='opacity:0'>//</span>
  <h1><%= @cocktail.name %></h1>
  <%= link_to cocktails_path do %>
    <i class="fas fa-undo-alt"></i>
  <% end %>
</div>
<br>
<br>
<div class="container">
  <%= render 'ingredients_list' %>
  <br>
  <hr><br>
  <%= render 'add_review' %>
  <br>
  <hr><br>
  <%= render 'show_reviews' %>
</div>