<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-lewagon fixed-top">
      <%= link_to cocktails_path, class: 'navbar-brand' do  %>
        <i class="fas fa-cocktail d-inline-block align-top" width="30" height="30"></i>
        Mister Cocktail
     <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <%= link_to "All", cocktails_path, class: 'nav-link'  %>
          </li>
          <li class="nav-item active">
             <%= link_to "New", new_cocktail_path, class: 'nav-link'  %>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action = "/cocktails/search" method = "post" >
          <input class="form-control mr-sm-2" type="search" name = "search" id= "search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
      </div>
    </nav>

    <div class="container" style="padding-top: 80px">
      <%= yield %>
    </div>
  </body>
</html>
